export PROJECT_ROOT="/Users/sny/OneDrive - Oak Ridge National Laboratory/Meetings/Santanu_Roy_Ada_Sedova/DiffCSP/experiments"
export HYDRA_JOBS="/Users/sny/OneDrive - Oak Ridge National Laboratory/Meetings/Santanu_Roy_Ada_Sedova/DiffCSP/experiments/hydra_outputs"
export WABDB_DIR="/Users/sny/OneDrive - Oak Ridge National Laboratory/Meetings/Santanu_Roy_Ada_Sedova/DiffCSP/experiments/wadb_outputs"
